{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "BIC LCF",
    "description" : "BIC Library Communications Framework ",
    "version" : "1.2.0"
  },
  "externalDocs" : {
    "description" : "BIC LCF Documentation",
    "url" : "https://bic-org-uk.githib.io/bic-lcf"
  },
  "servers" : [ {
    "url" : "https://lcf.ceridwen.com/lcfserver-server-1.2.0-SNAPSHOT/",
    "description" : "Demo Server"
  } ],
  "tags" : [ {
    "name" : "Authorisation",
    "description" : "Authorisation Operations"
  }, {
    "name" : "Authority",
    "description" : "Authority Operations"
  }, {
    "name" : "Charge",
    "description" : "Charge Operations"
  }, {
    "name" : "ClassScheme",
    "description" : "ClassScheme Operations"
  }, {
    "name" : "ClassTerm",
    "description" : "ClassTerm Operations"
  }, {
    "name" : "Contact",
    "description" : "Contact Operations"
  }, {
    "name" : "Item",
    "description" : "Item Operations"
  }, {
    "name" : "Loan",
    "description" : "Loan Operations"
  }, {
    "name" : "Location",
    "description" : "Location Operations"
  }, {
    "name" : "Manifestation",
    "description" : "Manifestation Operations"
  }, {
    "name" : "MessageAlert",
    "description" : "MessageAlert Operations"
  }, {
    "name" : "Patron",
    "description" : "Patron Operations"
  }, {
    "name" : "Payment",
    "description" : "Payment Operations"
  }, {
    "name" : "Reservation",
    "description" : "Reservation Operations"
  } ],
  "paths" : {
    "/lcf/1.0/authorisations/{identifier}" : {
      "get" : {
        "tags" : [ "Authorisation" ],
        "operationId" : "Retrieve",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authorisation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authorisation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Authorisation" ],
        "operationId" : "Modify",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/authorisation"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/authorisation"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authorisation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authorisation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Authorisation" ],
        "operationId" : "Delete",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/authorisations" : {
      "get" : {
        "tags" : [ "Authorisation" ],
        "operationId" : "List",
        "parameters" : [ {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Authorisation" ],
        "operationId" : "Create",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/authorisation"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/authorisation"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authorisation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authorisation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/authorities/{identifier}" : {
      "get" : {
        "tags" : [ "Authority" ],
        "operationId" : "Retrieve_1",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authority"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authority"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Authority" ],
        "operationId" : "Modify_1",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/authority"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/authority"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authority"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authority"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Authority" ],
        "operationId" : "Delete_1",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/authorities" : {
      "get" : {
        "tags" : [ "Authority" ],
        "operationId" : "List_1",
        "parameters" : [ {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Authority" ],
        "operationId" : "Create_1",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/authority"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/authority"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authority"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/authority"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/charges/{identifier}" : {
      "get" : {
        "tags" : [ "Charge" ],
        "operationId" : "Retrieve_2",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Charge" ],
        "operationId" : "Modify_2",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/charge"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/charge"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Charge" ],
        "operationId" : "Delete_2",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/charges/{identifier}/payments" : {
      "get" : {
        "tags" : [ "Charge" ],
        "operationId" : "List_2",
        "parameters" : [ {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "payment-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Charge" ],
        "operationId" : "Create_2",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/payment"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/payment"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/payment"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/payment"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/charges" : {
      "get" : {
        "tags" : [ "Charge" ],
        "operationId" : "List_3",
        "parameters" : [ {
          "name" : "manifestation-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "item-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "creation-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "payment-due-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "paid-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Charge" ],
        "operationId" : "Create_3",
        "parameters" : [ {
          "name" : "confirmation",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/charge"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/charge"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/class-schemes/{identifier}" : {
      "get" : {
        "tags" : [ "ClassScheme" ],
        "operationId" : "Retrieve_3",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-scheme"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-scheme"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "ClassScheme" ],
        "operationId" : "Modify_3",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-scheme"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-scheme"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-scheme"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-scheme"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "ClassScheme" ],
        "operationId" : "Delete_3",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/class-schemes" : {
      "get" : {
        "tags" : [ "ClassScheme" ],
        "operationId" : "List_4",
        "parameters" : [ {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "ClassScheme" ],
        "operationId" : "Create_4",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-scheme"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-scheme"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-scheme"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-scheme"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/class-terms/{identifier}" : {
      "get" : {
        "tags" : [ "ClassTerm" ],
        "operationId" : "Retrieve_4",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-term"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-term"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "ClassTerm" ],
        "operationId" : "Modify_4",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-term"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-term"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-term"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-term"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "ClassTerm" ],
        "operationId" : "Delete_4",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/class-terms" : {
      "get" : {
        "tags" : [ "ClassTerm" ],
        "operationId" : "List_5",
        "parameters" : [ {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "ClassTerm" ],
        "operationId" : "Create_5",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-term"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/class-term"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-term"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/class-term"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/contacts/{identifier}" : {
      "get" : {
        "tags" : [ "Contact" ],
        "operationId" : "Retrieve_5",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Contact" ],
        "operationId" : "Modify_5",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/contact"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/contact"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Contact" ],
        "operationId" : "Delete_5",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/contacts" : {
      "get" : {
        "tags" : [ "Contact" ],
        "operationId" : "List_6",
        "parameters" : [ {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Contact" ],
        "operationId" : "Create_6",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/contact"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/contact"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/items/{identifier}" : {
      "get" : {
        "tags" : [ "Item" ],
        "operationId" : "Retrieve_6",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Item" ],
        "operationId" : "Modify_6",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/item"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/item"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Item" ],
        "operationId" : "Delete_6",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/items/{identifier}/reservations" : {
      "get" : {
        "tags" : [ "Item" ],
        "operationId" : "List_7",
        "parameters" : [ {
          "name" : "manifestation-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "item-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pickup-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Item" ],
        "operationId" : "Create_7",
        "parameters" : [ {
          "name" : "confirmation",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "charge-acknowledged",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/reservation"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/reservation"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reservation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reservation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/items" : {
      "get" : {
        "tags" : [ "Item" ],
        "operationId" : "List_8",
        "parameters" : [ {
          "name" : "manifestation-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circulation-status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Item" ],
        "operationId" : "Create_8",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/item"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/item"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/loans/{identifier}" : {
      "get" : {
        "tags" : [ "Loan" ],
        "operationId" : "Retrieve_7",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/loan"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/loan"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Loan" ],
        "operationId" : "Modify_7",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/loan"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/loan"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "org.bic.ns.lcf.v1_0.LcfCheckInResponse",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-check-in-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-check-in-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Loan" ],
        "operationId" : "Delete_7",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/loans/{identifier}/charges" : {
      "get" : {
        "tags" : [ "Loan" ],
        "operationId" : "List_9",
        "parameters" : [ {
          "name" : "manifestation-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "item-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "creation-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "payment-due-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "paid-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Loan" ],
        "operationId" : "Create_9",
        "parameters" : [ {
          "name" : "confirmation",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/charge"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/charge"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/charge"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/loans" : {
      "get" : {
        "tags" : [ "Loan" ],
        "operationId" : "List_10",
        "parameters" : [ {
          "name" : "item-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "loan-status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end-due-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recall-notice-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Loan" ],
        "operationId" : "Create_10",
        "parameters" : [ {
          "name" : "confirmation",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "charge-acknowledged",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/loan"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/loan"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "org.bic.ns.lcf.v1_0.LcfCheckOutResponse",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-check-out-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-check-out-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/locations/{identifier}" : {
      "get" : {
        "tags" : [ "Location" ],
        "operationId" : "Retrieve_8",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/location"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/location"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Location" ],
        "operationId" : "Modify_8",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/location"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/location"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/location"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/location"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Location" ],
        "operationId" : "Delete_8",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/locations/{identifier}/contacts" : {
      "get" : {
        "tags" : [ "Location" ],
        "operationId" : "List_11",
        "parameters" : [ {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "location-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Location" ],
        "operationId" : "Create_11",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/contact"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/contact"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/contact"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/locations" : {
      "get" : {
        "tags" : [ "Location" ],
        "operationId" : "List_12",
        "parameters" : [ {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Location" ],
        "operationId" : "Create_12",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/location"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/location"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/location"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/location"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/manifestations/{identifier}" : {
      "get" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "Retrieve_9",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manifestation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manifestation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "Modify_9",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/manifestation"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/manifestation"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manifestation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manifestation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "Delete_9",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/manifestations/{identifier}/reservations" : {
      "get" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "List_13",
        "parameters" : [ {
          "name" : "manifestation-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "item-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pickup-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "Create_13",
        "parameters" : [ {
          "name" : "confirmation",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "charge-acknowledged",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/reservation"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/reservation"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reservation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reservation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/manifestations/{identifier}/items" : {
      "get" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "List_14",
        "parameters" : [ {
          "name" : "manifestation-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "circulation-status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "Create_14",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/item"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/item"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/item"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/manifestations" : {
      "get" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "List_15",
        "parameters" : [ {
          "name" : "item-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Manifestation" ],
        "operationId" : "Create_15",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/manifestation"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/manifestation"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manifestation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manifestation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/messages/{identifier}" : {
      "get" : {
        "tags" : [ "MessageAlert" ],
        "operationId" : "Retrieve_10",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/message-alert"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/message-alert"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "MessageAlert" ],
        "operationId" : "Modify_10",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/message-alert"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/message-alert"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Modified",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/message-alert"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/message-alert"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "MessageAlert" ],
        "operationId" : "Delete_10",
        "parameters" : [ {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deleted",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/messages/{identifier}/reservations" : {
      "get" : {
        "tags" : [ "MessageAlert" ],
        "operationId" : "List_16",
        "parameters" : [ {
          "name" : "manifestation-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "item-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patron-id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pickup-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/lcf-entity-list-response"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "MessageAlert" ],
        "operationId" : "Create_16",
        "parameters" : [ {
          "name" : "confirmation",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "charge-acknowledged",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/reservation"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/reservation"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "With echoed content",
            "headers" : {
              "lcf-version" : {
                "description" : "LCF Specification Version",
                "required" : true,
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reservation"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/reservation"
                }
              }
            }
          }
        },
        "security" : [ {
          "TERMINAL" : [ ]
        }, {
          "USER" : [ ]
        } ]
      }
    },
    "/lcf/1.0/messages/{identifier}/patrons" : {
      "get" : {
        "tags" : [ "MessageAlert" ],
        "operationId" : "List_17",
        "parameters" : [ {
          "name" : "patron-expiration-date",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "os:startIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "os:count",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : -1
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
[...]
